<!-- This could do with some translating to RoR... but it will do for now
 	 namely, we should replace the buttons with "button_to" etc.-->
<div id="panes" class="container_24">
     <section id="leftpane" class="grid_12 rounded15">
        <h3>Students & Parents</h3>
        <h5>No Risk, Interest-Free<br>
        College Financing<h5>
        <a href="index.php/register/"><button class="rounded5">Join Now</button></a>
        <h5>
        <a href="/works.html"><button class="rounded5">Learn More</button></a>
    </section>
    <section id="rightpane" class="grid_12 rounded15">
        <h3>Investors</h3>
        <h5>Low Risk, High Return <br>Socially-Conscious Investing<h5>
        <a href="index.php/register/"><button class="rounded5">Join Now</button></a>
        <h5>
        <a href="/works.html"><button class="rounded5">Learn More</button></a>
    </section>
</div>