<p>
	<%= @admin.firstName + " " + @admin.lastName %>
<p>
	Profile was created at : <%=@admin.created_at.strftime("%d %b") %>
</p>

<p>
	Last signed in at:
	<%= @admin.last_sign_in_at.strftime("%d %b")  %>
</p>