<div id="siteInfo">
	<footer class="container_24">
   <p> Copyright 2012 -- Endowr -- All Rights Reserved</p>
   <nav>
      <ul>
         <li>
			<%= link_to "Home", '#'%>
         </li>
         <li>
			<%= link_to "Our Story", '#'%>
         </li>
         <li>
			<%= link_to "How It Works", '#'%>
         </li>
      </ul>
   </nav>
   </footer>
</div>